@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply mt-6 mb-6 text-4xl;
}

h2 {
  @apply mt-4 mb-4 text-2xl;
}

h3 {
  @apply mt-2 mb-2 text-xl;
}

body {
  @apply bg-bg-light text-text-light dark:bg-bg-dark dark:text-text-dark;
}

code {
  @apply block overflow-x-auto rounded-lg bg-uiBg-light bg-uiBg-dark pt-1 pb-1 pr-2 pl-2 text-text-light text-text-dark;
}

pre {
  @apply rounded-lg bg-uiBg-light bg-uiBg-dark p-1 text-text-light text-text-dark;
}

@keyframes slide-down {
  0% {
    transform: scale(0.6) translateY(-90%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.tooltip {
  animation: slide-down 0.07s;
}
